@{
    ViewData["Title"] = "CountTime Page";
}

@model IEnumerable<Employee>
@{
    ViewBag.Title = "All emploees";
}
<script>
    function deleteEmployee(id) {
        $.ajax({
            type: "DELETE",
            url: "/Employees/Delete/" + id,
            success: function(){
                window.location.href = "/Employees/Index";
            },
             error: function (jqXHR) {
                     alert(jqXHR.responseText);
            }
        })
    }
</script> 
<a asp-action="Create">Create employee</a>
<table class="table">
    <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>Email</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td>
                <a asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id">Edit</a> |
                <a href="#" onclick="deleteEmployee(@item.Id)">Delete</a>
            </td>
        </tr>
    }
</table>